
<launch>
<arg name="use_rviz" default="true" doc="Launch Rviz with default config"/>
<arg name="mode"     default="false" doc="select mode, True for wall build, false(default) for brick stacking"/>
<arg name="start_action"   default="true" doc="start client node"/>
<arg name="start_builder"  default="true" doc="start buider node"/>

    <!-- launch panda robot -->
    <include file="$(find panda_moveit_config)/launch/demo.launch">
        <arg name="use_rviz" value="false"/>
    </include>

    <!-- Run Rviz and load the default config to see the state of the move_group node -->
    <include file="$(find panda_moveit_config)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
        <arg name="rviz_tutorial" value="false"/>
        <arg name="rviz_config"   value="$(find pick_and_place)/config/configRVIZ.rviz"/>
        <arg name="debug" value="false"/>
    </include>


    <!-- yaml parameters  -->
    <rosparam command="load" file="$(find pick_and_place)/config/brick_data.yaml" />

    <!-- builder  -->
    <group if="$(arg start_builder)">
        <node pkg="pick_and_place" type="brick_builder.py" name="brick_builder" output="screen"/>
    </group>

    <!-- client action -->
    <group if="$(arg start_action)">
        <include file="$(find pick_and_place)/launch/start_action.launch" if="$(arg use_rviz)">
            <arg name="mode" value="$(arg mode)"/>
        </include>
    </group>


</launch>